---
layout: default
---
{% for mod in site.mods %}
<h2>{{ mod.name }}</h2>
<table>
  <tr>
    <td>
      <img src="/img/{{ mod.icon }}.jpg"/>
    </td>
    <td>
      <div>
        {{ mod.desc }}
      </div>
      <div>
        <a href="https://www.farming-simulator.com/mod.php?mod_id={{ mod.mh }}">
					<img src="/img/modHubLogo.png"/>
        </a>
        <a href="https://github.com/{{ mod.gh }}">
					<img src="/img/gitHubLogo.png"/>
        </a>
			</div>
    </td>
  </tr>
</table>
{% endfor %}
